.btn {
  padding: 10px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: var(--fs-sm);
  cursor: pointer;
  background-color: transparent;
  color: var(--clr-primary-5);
  margin-right: 15px;
}

.btn:hover {
  padding: 12px 12px;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  box-shadow: 0 0 15px var(--clr-primary-5), 0 0 30px var(--clr-primary-5),
    0 0 45px var(--clr-primary-5);
}
