.footer-container {
  padding: auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
}

.footer-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--fs-xxl);
}

.footer-text {
  margin-bottom: 20px;
  font-size: var(--fs-sm);
  max-width: 700px;
}

.footer-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: var(--fs-sm);
  border: 1px solid #fff;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  font-size: var(--fs-sm);
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  text-align: left;
  width: auto;
  box-sizing: border-box;
  font-size: var(--fs-md);
}

.footer-link-items h2 {
  margin-bottom: 10px;
  font-size: var(--fs-xxl);
}

.footer-link-items > h2 {
  color: #fff;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.2rem;
}

.footer-link-items a:hover {
  color: var(--clr-primary-5);
  transition: 0.3s ease-out;
}

.footer-input::placeholder {
  color: var(--clr-primary-5);
}
:placeholder-shown {
  color: var(--clr-primary-5);
}
input {
  color: var(--clr-primary-5);
}
/* Social Icons */
.social-icon-link {
  color: #fff;
  font-size: var(--fs-xl);
}
.social-icon-link:hover {
  color: var(--clr-primary-5);
  font-size: 30px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.website-rights {
  color: #fff;
  margin-bottom: 15px;
  text-decoration: none;
}
.website-rights:hover {
  color: var(--clr-primary-5);
  margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}
